# Java
bin/
*.war
*.ear

# Maven
target/
!**/src/main/**/target/

# Docker
docker-compose.override.yml

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# DB
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# JAR files (исключаем собранные jar)
*.jar
!**/src/main/**/*.jar